n8n-workflow-serper-linkedin.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "845a71b9-f7fd-4466-9599-3cb79e34d3a4",
        "responseMode": "onReceived",
        "responseData": "{\"status\": \"processing\", \"message\": \"Prospect research started\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4928, 1200],
      "id": "6ce6e2c2-5245-4635-a8c4-180dec1c2f32",
      "name": "Prospect Research Webhook",
      "webhookId": "845a71b9-f7fd-4466-9599-3cb79e34d3a4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "# Role\nYou are a senior B2B prospect sourcer. Your job is to generate a list of likely relevant contacts (candidates) for later verification.\n\n# Task\nFind decision-makers and key influencers at the target company for the campaign. Prioritize relevance and coverage.\n\n# Key rule (IMPORTANT)\nDo NOT require confirmed \"Present\" employment on LinkedIn. LinkedIn URLs may be missing or uncertain - that's OK, they will be enriched in the next step.\n\n# LinkedIn handling\n- If you find a LinkedIn profile URL that appears to match, include it.\n- If you are not confident or cannot find one, set \"linkedin\" to an empty string \"\".\n- DO NOT construct fake LinkedIn URLs - only use URLs you actually found.\n\n# Contact quantity\nReturn 4–10 contacts when possible. If you can't find that many, return as many as you can.\n\n# Exclusions\nExclude: board members, non-executive directors, advisors, former employees, support staff, interns.\n\n# Output format\nReturn JSON ONLY (no markdown, no backticks) using exactly this schema:\n{\n  \"status\": \"completed\",\n  \"company\": \"company name\",\n  \"contacts\": [\n    {\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"job_title\": \"string\",\n      \"linkedin\": \"full LinkedIn URL or empty string\",\n      \"priority\": \"High\" | \"Medium\" | \"Low\",\n      \"priority_reason\": \"1-2 sentences max why relevant\",\n      \"pitch_type\": \"Technical\" | \"Business\" | \"Executive\"\n    }\n  ]\n}"
            },
            {
              "content": "=Find prospects at {{ $json.body.company.name }} ({{ $json.body.company.website }})\n\nCampaign: {{ $json.body.campaign.campaignName }}\nProduct: {{ $json.body.campaign.product }}\nRegion: {{ $json.body.campaign.targetRegion }}\nTarget Titles: {{ $json.body.campaign.targetTitles }}\nPersonas: {{ $json.body.campaign.targetPersonas }}\nPrimary Angle: {{ $json.body.campaign.primaryAngle }}\nPain Points: {{ $json.body.campaign.painPoints }}\nTech Focus: {{ $json.body.campaign.techFocus }}\n\nCompany Research:\n{{ JSON.stringify($json.body.companyResearch) }}\n\nInstructions:\n- Return 4–10 relevant people with names, titles, and LinkedIn URLs if you can find them.\n- If LinkedIn is uncertain, leave linkedin=\"\" - it will be enriched using Serper.\n- Focus on quality over quantity."
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "high"
          }
        },
        "options": {
          "reasoning": {
            "reasoningOptions": {
              "effort": "high"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [5120, 1200],
      "id": "a19e3b8e-3458-457e-918b-b6642f280860",
      "name": "Contact Search",
      "credentials": {
        "openAiApi": {
          "id": "MvQi1874NPMQ2ug7",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response -> {status, company, contacts}\nconst aiOutput = $input.item.json;\nlet parsed;\n\ntry {\n  // Try multiple possible locations for the text\n  const text =\n    aiOutput.output?.[0]?.content?.[0]?.text ||\n    aiOutput.content?.[0]?.text ||\n    aiOutput.text ||\n    aiOutput.output_text ||\n    '';\n\n  const raw = (typeof text === 'string' ? text : JSON.stringify(text)).trim();\n  \n  // Strip markdown fences if present\n  const cleaned = raw\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n  \n  // Extract JSON from the text (find first { to last })\n  const start = cleaned.indexOf('{');\n  const end = cleaned.lastIndexOf('}');\n  const jsonStr = (start !== -1 && end !== -1) ? cleaned.slice(start, end + 1) : cleaned;\n\n  parsed = JSON.parse(jsonStr);\n} catch (err) {\n  console.error('Failed to parse OpenAI response:', err.message);\n  parsed = { status: 'error', company: '', contacts: [] };\n}\n\n// Ensure contacts is an array\nif (!Array.isArray(parsed.contacts)) {\n  parsed.contacts = [];\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "4be65298-d9e7-4997-9dae-4bae993b26ed",
      "name": "Code: Format Prospect Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5440, 1200]
    },
    {
      "parameters": {
        "jsCode": "// Split contacts[] into items and build a Serper query per contact\n// Query includes: name + job title keywords + company\n\nconst input = $input.first().json || {};\nconst contacts = Array.isArray(input.contacts) ? input.contacts : [];\n\n// Get webhook data to extract company info\nlet webhookBody = {};\ntry {\n  webhookBody = $('Prospect Research Webhook').item.json.body || {};\n} catch {}\n\nconst companyFromWebhook = webhookBody.company?.name || webhookBody.company?.website || webhookBody.company_domain || '';\nconst companyFromAI = input.company || '';\n\n// Extract clean company name for search\n// If it's a domain like \"gluo.be\", extract \"gluo\"\nconst cleanCompany = (companyFromAI || companyFromWebhook || '')\n  .replace(/^https?:\\/\\//i, '')\n  .replace(/^www\\./i, '')\n  .split('/')[0]\n  .split('.')[0]\n  .trim();\n\nreturn contacts.map((c, i) => {\n  const firstName = String(c.first_name || '').trim();\n  const lastName = String(c.last_name || '').trim();\n  const fullName = `${firstName} ${lastName}`.trim();\n  const jobTitle = String(c.job_title || '').trim();\n  \n  // Extract key words from job title (remove common words)\n  const titleKeywords = jobTitle\n    .replace(/\\b(the|and|or|of|at|in|for|senior|junior|lead)\\b/gi, '')\n    .trim()\n    .split(/\\s+/)\n    .slice(0, 2) // Take first 2 significant words\n    .join(' ');\n  \n  // Build Serper query: site:linkedin.com/in \"Full Name\" title-keywords company\n  const queryParts = [\n    'site:linkedin.com/in',\n    `\"${fullName}\"`,\n    titleKeywords ? titleKeywords : '',\n    cleanCompany ? cleanCompany : ''\n  ].filter(Boolean);\n  \n  const serperQuery = queryParts.join(' ');\n  \n  return {\n    json: {\n      ...c,\n      _index: i,\n      _status: input.status || 'completed',\n      _company: companyFromAI || companyFromWebhook || cleanCompany,\n      _companyClean: cleanCompany,\n      _serperQuery: serperQuery\n    }\n  };\n});"
      },
      "id": "51aebc76-7bb2-4351-823e-1ec2d1223a44",
      "name": "Code: Split Contacts for Serper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5616, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $env.SERPER_API_KEY || '331d5fd92fb20aa9b798c1d46d8777ae23f92119' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { q: $json._serperQuery, num: 5 } }}",
        "options": {}
      },
      "id": "2753d3fe-9d84-4b11-92f8-2639f5695a90",
      "name": "HTTP: Serper LinkedIn Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [5808, 1328]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "48eb4dbf-6172-4758-99b6-5386581fa589",
      "name": "Merge: Contact + Serper",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [6000, 1328]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate LinkedIn URL from Serper results\n// Matching logic: verify name appears in title/snippet OR LinkedIn slug\n\nfunction normalizeLinkedIn(url) {\n  if (!url || typeof url !== 'string') return '';\n  // Remove query params and anchors\n  const u = url.split('?')[0].split('#')[0].trim();\n  // Match linkedin.com/in/slug pattern\n  const m = u.match(/https?:\\/\\/([a-z]{2,3}\\.)?(www\\.)?linkedin\\.com\\/in\\/([^\\/?#]+)\\/?/i);\n  if (!m) return '';\n  // Return normalized URL\n  return `https://www.linkedin.com/in/${m[3]}/`;\n}\n\nfunction slugFromLinkedIn(url) {\n  const m = String(url || '').match(/linkedin\\.com\\/in\\/([^\\/?#]+)/i);\n  return m ? m[1].toLowerCase() : '';\n}\n\nfunction canon(s) {\n  // Remove all non-alphanumeric characters and lowercase\n  return String(s || '').toLowerCase().replace(/[^a-z0-9]/g, '');\n}\n\nconst firstName = String($json.first_name || '').trim();\nconst lastName = String($json.last_name || '').trim();\nconst fullName = `${firstName} ${lastName}`.trim();\nconst existingLinkedIn = normalizeLinkedIn($json.linkedin);\n\n// If already has a valid LinkedIn URL, keep it\nif (existingLinkedIn) {\n  return [{ json: { ...$json, linkedin: existingLinkedIn, linkedin_source: 'ai' } }];\n}\n\n// Search Serper results for LinkedIn profile\nconst organic = Array.isArray($json.organic) ? $json.organic : [];\nconst firstNameCanon = canon(firstName);\nconst lastNameCanon = canon(lastName);\nconst companyCanon = canon($json._companyClean || '');\n\nlet foundUrl = '';\nlet matchScore = 0;\n\nfor (const result of organic) {\n  const link = normalizeLinkedIn(result?.link);\n  if (!link) continue;\n\n  const title = String(result?.title || '').toLowerCase();\n  const snippet = String(result?.snippet || '').toLowerCase();\n  const text = `${title} ${snippet}`;\n  const slug = slugFromLinkedIn(link);\n  const slugCanon = canon(slug);\n\n  // Calculate match score\n  let score = 0;\n  \n  // Last name must appear in text OR slug (required)\n  const lastInText = lastName && text.includes(lastName.toLowerCase());\n  const lastInSlug = lastNameCanon && slugCanon.includes(lastNameCanon);\n  \n  if (!lastInText && !lastInSlug) continue; // Skip if last name not found\n  \n  if (lastInText) score += 3;\n  if (lastInSlug) score += 2;\n  \n  // First name in text or slug (bonus)\n  if (firstName && text.includes(firstName.toLowerCase())) score += 2;\n  if (firstNameCanon && slugCanon.includes(firstNameCanon)) score += 1;\n  \n  // Company name in text (bonus)\n  if (companyCanon && text.includes(companyCanon)) score += 2;\n  \n  // Prefer results that are higher in search results\n  const position = organic.indexOf(result);\n  if (position === 0) score += 1;\n  \n  // Keep the best match\n  if (score > matchScore) {\n    matchScore = score;\n    foundUrl = link;\n  }\n}\n\nreturn [{ \n  json: { \n    ...$json, \n    linkedin: foundUrl || existingLinkedIn || '', \n    linkedin_source: foundUrl ? 'serper' : (existingLinkedIn ? 'ai' : 'not_found'),\n    _match_score: matchScore\n  } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6192, 1328],
      "id": "942ec73e-4f63-479c-b1b3-fa2374786dd2",
      "name": "Code: Set LinkedIn from Serper"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate back to single {status, company, contacts[]}\nconst items = $input.all().map(i => i.json);\n\nif (!items.length) {\n  return [{ json: { status: 'completed', company: '', contacts: [] } }];\n}\n\nconst status = items[0]._status || 'completed';\nconst company = items[0]._company || '';\n\n// Sort by original index and clean up internal fields\nconst contacts = items\n  .sort((a, b) => (a._index ?? 0) - (b._index ?? 0))\n  .map(c => ({\n    first_name: c.first_name || '',\n    last_name: c.last_name || '',\n    job_title: c.job_title || '',\n    linkedin: String(c.linkedin || '').trim(),\n    linkedin_source: c.linkedin_source || 'unknown',\n    priority: c.priority || 'Medium',\n    priority_reason: c.priority_reason || '',\n    pitch_type: c.pitch_type || 'Business'\n  }));\n\nreturn [{ json: { status, company, contacts } }];"
      },
      "id": "99a25209-a5b7-4a74-8b42-edae169bf9df",
      "name": "Code: Aggregate Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6384, 1200]
    },
    {
      "parameters": {
        "jsCode": "// Keep only contacts that have a valid LinkedIn profile URL\nconst input = $input.first().json || {};\nconst contacts = Array.isArray(input.contacts) ? input.contacts : [];\n\nconst filtered = contacts.filter(c => {\n  const li = String(c.linkedin || '').trim();\n  return li.includes('linkedin.com/in/') && li.startsWith('http');\n});\n\nconst stats = {\n  total: contacts.length,\n  with_linkedin: filtered.length,\n  without_linkedin: contacts.length - filtered.length\n};\n\nconsole.log(`LinkedIn filtering: ${stats.with_linkedin}/${stats.total} contacts have LinkedIn URLs`);\n\nreturn [{ json: { ...input, contacts: filtered, linkedin_stats: stats } }];"
      },
      "id": "6e1c034d-8dfb-4f70-bc55-b3e32d0bf322",
      "name": "Code: Filter LinkedIn Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6576, 1200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ ($json.contacts || []).length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "options": {}
      },
      "id": "e30554a3-0b6a-4431-92da-8f84fd86f73e",
      "name": "IF: Has LinkedIn Prospects",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [6768, 1200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lqrkrzikjlavnltbnnoa.supabase.co/functions/v1/receive-prospect-results",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  user_id: $('Prospect Research Webhook').item.json.body.user_id,\n  campaign_id: $('Prospect Research Webhook').item.json.body.campaign_id,\n  company_id: $('Prospect Research Webhook').item.json.body.company_id,\n  company_research_id: $('Prospect Research Webhook').item.json.body.company_research_id,\n  company_domain: $('Prospect Research Webhook').item.json.body.company_domain,\n  salesforce_account_id: $('Prospect Research Webhook').item.json.body.salesforce_account_id,\n  salesforce_campaign_id: $('Prospect Research Webhook').item.json.body.salesforce_campaign_id,\n  prospect: JSON.stringify({\n    status: $json.status,\n    company: $json.company,\n    contacts: $json.contacts,\n    linkedin_stats: $json.linkedin_stats\n  }),\n  status: 'completed'\n}\n}}",
        "options": {}
      },
      "id": "4fce615a-b83d-4890-abe0-97174f1ec23f",
      "name": "HTTP: Callback to receive-prospect-results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [6960, 1200]
    }
  ],
  "connections": {
    "Prospect Research Webhook": {
      "main": [[{ "node": "Contact Search", "type": "main", "index": 0 }]]
    },
    "Contact Search": {
      "main": [[{ "node": "Code: Format Prospect Result", "type": "main", "index": 0 }]]
    },
    "Code: Format Prospect Result": {
      "main": [[{ "node": "Code: Split Contacts for Serper", "type": "main", "index": 0 }]]
    },
    "Code: Split Contacts for Serper": {
      "main": [
        [
          { "node": "Merge: Contact + Serper", "type": "main", "index": 0 },
          { "node": "HTTP: Serper LinkedIn Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "HTTP: Serper LinkedIn Search": {
      "main": [[{ "node": "Merge: Contact + Serper", "type": "main", "index": 1 }]]
    },
    "Merge: Contact + Serper": {
      "main": [[{ "node": "Code: Set LinkedIn from Serper", "type": "main", "index": 0 }]]
    },
    "Code: Set LinkedIn from Serper": {
      "main": [[{ "node": "Code: Aggregate Contacts", "type": "main", "index": 0 }]]
    },
    "Code: Aggregate Contacts": {
      "main": [[{ "node": "Code: Filter LinkedIn Only", "type": "main", "index": 0 }]]
    },
    "Code: Filter LinkedIn Only": {
      "main": [[{ "node": "IF: Has LinkedIn Prospects", "type": "main", "index": 0 }]]
    },
    "IF: Has LinkedIn Prospects": {
      "main": [[{ "node": "HTTP: Callback to receive-prospect-results", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9cede33a723de861755fc4c3b19745bba65cbc53a84a89eef946fc41c7f58e4"
  }
}
