n8n-workflow-async.json
{
  "name": "Research Workflow (Async Mode)",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a B2B company intelligence analyst. Validate the current status of {{ $json.body.company.name }} and identify their cloud infrastructure.\n\nCOMPANY:\n- Name: {{ $json.body.company.name }}\n- Website: {{ $json.body.company.website }}\n- LinkedIn: {{ $json.body.company.linkedin }}\n\nCAMPAIGN CONTEXT:\n- Product: {{ $json.body.campaign.product }}\n- Angles: {{ $json.body.campaign.primaryAngle }}, {{ $json.body.campaign.secondaryAngle }}\n- Region: {{ $json.body.campaign.targetRegion }}\n- Pain Points: {{ $json.body.campaign.painPoints[0] }}, {{ $json.body.campaign.painPoints[1] }}, {{ $json.body.campaign.painPoints[2] }}\n\nTASK:\n1. Search for {{ $json.body.company.name }} on LinkedIn and their website to verify they exist and are active\n2. Check recent news for any acquisitions, mergers, name changes, or bankruptcy\n3. Determine their primary cloud provider from job postings, tech blogs, case studies, or vendor partner pages\n\nSTATUS RULES:\n- \"Operating\" = Active and independent company\n- \"Acquired\" = Bought by another company. Set acquiredBy to parent name, effectiveDate to year, and stillOperatesIndependently to true/false\n- \"Renamed\" = Same company under a new name. Set acquiredBy to the new name\n- \"Bankrupt\" = Defunct, shut down, or out of business\n- \"Not_Found\" = Cannot verify this company exists through any source\n\nSource priority: LinkedIn > Company website > News articles. If sources conflict, trust LinkedIn first.\n\nReturn ONLY valid JSON. No prose, no markdown, no code fences.\n\n{\"status\":\"ok\",\"company\":\"{{ $json.body.company.name }}\",\"company_status\":\"Operating\",\"acquiredBy\":null,\"effectiveDate\":null,\"stillOperatesIndependently\":true,\"cloud_preference\":{\"provider\":\"AWS\",\"confidence\":75,\"evidence_urls\":[\"https://example.com/evidence\"]}}\n\nField rules:\n- company_status: Exactly one of \"Operating\", \"Acquired\", \"Renamed\", \"Bankrupt\", \"Not_Found\"\n- acquiredBy: Parent company name string if acquired/renamed, null otherwise\n- effectiveDate: Year as string \"YYYY\" if acquired, null otherwise\n- stillOperatesIndependently: true if the company still runs under its own brand (even if acquired), false if fully absorbed. Always true for \"Operating\" status\n- cloud_preference.provider: Exactly one of \"AWS\", \"Azure\", \"GCP\", \"Unknown\"\n- cloud_preference.confidence: Integer 0-100 (0 = pure guess, 100 = confirmed)\n- cloud_preference.evidence_urls: Array of plain-text URLs supporting the cloud determination, empty array [] if no evidence found"
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -112,
        -608
      ],
      "id": "c7caa677-57f9-45a9-8bbb-1331ade0dc16",
      "name": "Company Check",
      "credentials": {
        "openAiApi": {
          "id": "KSewCTd2Wh09tVkU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a B2B prospect researcher. Find 3-7 decision-makers at {{ $json.body.company.name }} who would be ideal buyers for {{ $json.body.campaign.product }}.\n\nCOMPANY:\n- Name: {{ $json.body.company.name }}\n- Website: {{ $json.body.company.website }}\n- LinkedIn: {{ $json.body.company.linkedin }}\n\nCAMPAIGN:\n- Name: {{ $json.body.campaign.campaignName }}\n- Product: {{ $json.body.campaign.product }} ({{ $json.body.campaign.productCategory }})\n- Primary Angle: {{ $json.body.campaign.primaryAngle }}\n- Secondary Angle: {{ $json.body.campaign.secondaryAngle }}\n- Region: {{ $json.body.campaign.targetRegion }}\n- Pain Points: {{ $json.body.campaign.painPoints[0] }}, {{ $json.body.campaign.painPoints[1] }}, {{ $json.body.campaign.painPoints[2] }}\n\nSEARCH INSTRUCTIONS:\n1. Search LinkedIn for \"{{ $json.body.company.name }}\" people/employees\n2. Search the company website for leadership, team, or about pages\n3. For each person found, verify they currently work at {{ $json.body.company.name }} and have a relevant title\n\nWHO TO FIND (80/20 split):\n- 80% Technical Owners: Directors/VPs of Infrastructure, Cloud Architecture, DevOps, Network Operations, Security, IT Operations, Site Reliability, Platform Engineering\n- 20% Strategic Executives: CTO or VP Engineering ONLY if they have a technical background\n\nQUALIFICATION (all must be true):\n- Currently employed at {{ $json.body.company.name }}\n- Director-level or above (Manager only if most senior technical role found)\n- Has decision authority over infrastructure, security, cloud, or application delivery\n- Role aligns with {{ $json.body.campaign.product }} / {{ $json.body.campaign.productCategory }}\n- Preferably has authority in {{ $json.body.campaign.targetRegion }}\n\nEXCLUDE: IT Support, Helpdesk, Junior Engineers, Interns, Trainees, generic Specialists, CEO, CFO, HR (unless clearly acting as technical leader)\n\nLINKEDIN URLS:\n- If you find a real LinkedIn profile URL through search, include it (format: linkedin.com/in/actual-slug)\n- If you cannot find the real URL, set linkedin to empty string \"\"\n- NEVER fabricate or guess URLs from name patterns\n\nReturn ONLY valid JSON. No prose, no markdown, no code fences.\n\n{\"status\":\"ok\",\"company\":\"{{ $json.body.company.name }}\",\"contacts\":[{\"first_name\":\"John\",\"last_name\":\"Smith\",\"job_title\":\"VP of Infrastructure\",\"pitch_type\":\"Security\",\"linkedin\":\"linkedin.com/in/johnsmith\",\"priority\":\"High\",\"priority_reason\":\"Owns cloud infrastructure and security, directly aligned with {{ $json.body.campaign.primaryAngle }}\"}]}\n\nField rules:\n- first_name, last_name: Title Case, real verified names only\n- job_title: Their actual current title exactly as found, no modifications\n- pitch_type: Exactly one of \"Security\", \"AI\", \"FinOps\", \"Modernization\" - pick whichever angle is most relevant to this person's role\n- linkedin: Real URL from search results or empty string \"\". Never fabricated\n- priority: \"High\" = direct budget/decision owner, \"Medium\" = strong influencer, \"Low\" = relevant but less authority\n- priority_reason: One sentence explaining why this person matches {{ $json.body.campaign.primaryAngle }}\n\nReturn 3-7 contacts. Quality over quantity. Only include people you are confident actually work at {{ $json.body.company.name }} right now."
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -128,
        -400
      ],
      "id": "95dff59d-5f87-466d-ad45-6cde16913da0",
      "name": "Contact Search",
      "credentials": {
        "openAiApi": {
          "id": "KSewCTd2Wh09tVkU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f545849d-1d19-43e7-9dfb-11e34166907f",
        "responseMode": "onReceived",
        "responseData": "={\"status\": \"processing\", \"message\": \"Company research started\", \"user_id\": \"{{ $json.body.user_id }}\", \"company_domain\": \"{{ $json.body.company_domain }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -720
      ],
      "id": "9984191e-d67f-4583-bd55-c15b16444794",
      "name": "Company Research Webhook",
      "webhookId": "f545849d-1d19-43e7-9dfb-11e34166907f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "845a71b9-f7fd-4466-9599-3cb79e34d3a4",
        "responseMode": "onReceived",
        "responseData": "={\"status\": \"processing\", \"message\": \"Prospect research started\", \"user_id\": \"{{ $json.body.user_id }}\", \"company_domain\": \"{{ $json.body.company_domain }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        -304
      ],
      "id": "a793b868-560d-4430-ad6a-e6c72eab2273",
      "name": "Prospect Research Webhook",
      "webhookId": "845a71b9-f7fd-4466-9599-3cb79e34d3a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://lqrkrzikjlavnltbnnoa.supabase.co' }}/functions/v1/receive-company-results",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $json.body.user_id,\n  company_domain: $json.body.company_domain,\n  company: $json['output'][0].content[0].text,\n  status: 'completed',\n  original_payload: $json.original_payload\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -608
      ],
      "id": "a947a31a-22f3-4b8f-8aa8-83a52d6594de",
      "name": "Send to Supabase (Company)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f46205fa-aaaf-433c-bb68-4ef4b72a0632",
              "name": "body.user_id",
              "value": "={{ $('Company Research Webhook').item.json.body.user_id }}",
              "type": "string"
            },
            {
              "id": "f5e07b4f-58ed-4c1d-8389-6c773864ed02",
              "name": "body.company_domain",
              "value": "={{ $('Company Research Webhook').item.json.body.company_domain }}",
              "type": "string"
            },
            {
              "id": "2945c78e-a51a-4aa4-b0e0-da5ad7706d8d",
              "name": "output[0].content[0].text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "original-payload-id",
              "name": "original_payload",
              "value": "={{ $('Company Research Webhook').item.json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -608
      ],
      "id": "746c8887-aff3-462b-a12d-d23aba3839e6",
      "name": "Format Company Data"
    },
    {
      "parameters": {
        "jsCode": "// Get webhook data (edge function sends fields at top level in body)\nconst webhookData = $('Prospect Research Webhook').item.json.body;\n\n// Get parsed AI response from previous node\nconst parsedContacts = $input.item.json;\n\n// Combine them\nreturn {\n  body: {\n    user_id: webhookData.user_id,\n    company_domain: webhookData.company_domain,\n    company_research_id: webhookData.company_research_id\n  },\n  parsed_contacts: JSON.stringify(parsedContacts)\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -400
      ],
      "id": "36a52499-396c-4547-81c5-1177120c85f6",
      "name": "Format Prospect Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL || 'https://lqrkrzikjlavnltbnnoa.supabase.co' }}/functions/v1/receive-prospect-results",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  user_id: $json.body.user_id,\n  company_domain: $json.body.company_domain,\n  company_research_id: $json.body.company_research_id,\n  prospect: $json.parsed_contacts,\n  status: 'completed'\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        -400
      ],
      "id": "4a74a108-356e-44ae-9d79-d0819d4a5f01",
      "name": "Send to Supabase (Prospect)"
    },
    {
      "parameters": {
        "jsCode": "// Helper: safely get nested fields\nfunction get(obj, path) {\n  return path.reduce((acc, key) => (acc && acc[key] !== undefined ? acc[key] : undefined), obj);\n}\n\n// Common locations where OpenAI nodes put text\nconst candidates = [\n  ['content', 0, 'text'],\n  ['message', 'content', 0, 'text'],\n  ['output', 0, 'content', 0, 'text'],\n  ['data', 0, 'content', 0, 'text'],\n];\n\n// Find the first non-empty string\nlet rawText;\nfor (const path of candidates) {\n  const v = get($json, path);\n  if (typeof v === 'string' && v.trim()) {\n    rawText = v;\n    break;\n  }\n}\n\nif (!rawText) {\n  const topKeys = Object.keys($json);\n  throw new Error(`Could not find OpenAI text in expected locations. Top-level keys: ${topKeys.join(', ')}`);\n}\n\n// Strip markdown fenced JSON\nconst cleaned = rawText\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\n// Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (err) {\n  throw new Error('Failed to parse OpenAI JSON: ' + err.message + '\\nRaw text (first 200 chars): ' + cleaned.slice(0, 200));\n}\n\n// Return parsed object as n8n JSON\nreturn parsed;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -400
      ],
      "id": "adfb21e7-e3ad-470a-8b0f-37b4456b2064",
      "name": "Parse Prospect JSON"
    }
  ],
  "pinData": {},
  "connections": {
    "Company Research Webhook": {
      "main": [
        [
          {
            "node": "Company Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect Research Webhook": {
      "main": [
        [
          {
            "node": "Contact Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Check": {
      "main": [
        [
          {
            "node": "Format Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Company Data": {
      "main": [
        [
          {
            "node": "Send to Supabase (Company)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Search": {
      "main": [
        [
          {
            "node": "Parse Prospect JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prospect JSON": {
      "main": [
        [
          {
            "node": "Format Prospect Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prospect Data": {
      "main": [
        [
          {
            "node": "Send to Supabase (Prospect)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 10
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9cede33a723de861755fc4c3b19745bba65cbc53a84a89eef946fc41c7f58e4"
  },
  "tags": []
}
